/*Google Fonts CDN Link*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');
*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Oswald', sans-serif;
}
body{
       /* overflow: hidden; */

}
html {
       scroll-behavior: smooth;
     }
     
.container{
       width: 100%;
       min-height: 100vh;
       background-color: #F8F4EA;

}
.container1{
       width: 100%;
       min-height: 100vh;
       background-color: #ECE8DD;

}
.container2{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       min-height: 100vh;
       /* background: linear-gradient(to bottom, #040f26, #001b42, #002460, #002d7e, #00359d, #1b3daf, #2e44c1, #3f4cd3, #4e57dd, #5c63e8, #6a6ef2, #777afd); */

}
.about{
       width: 100%;
       min-height: 100vh;
       background-color: white;

}
.aboutnav{
       display: flex;
       width: 100%;
       justify-content: space-around;
       height: 80px;
       line-height: 80px;
       z-index: 111;
}
.skillnav{
       display: flex;
       width: 100%;
       justify-content: space-around;
       height: 80px;
       line-height: 80px;
       z-index: 111;
}
.intro{
       z-index: 100;
}
#NavBar{
       display: flex;
       width: 100%;
       justify-content: space-around;
       height: 80px;
       line-height: 80px;
       z-index: 111;
       background-color: #579BB1;
}

.sticky {
       position: fixed;
       top: 0;
       width: 100%;
     }
.logo{
       display: flex;
       font-size: 40px;
       font-weight: 800;
       color: white;
       letter-spacing: 3px;
       cursor: pointer;
       text-transform: uppercase;

}      

b{
       font-size: 70px;
       color: #7f00ff;

}
/* nav items home start */
.navItems{
       display: flex;
}
.navItems li{
       list-style: none;
       margin: 0 15px;
       
}
.navItems li a{
       font-size: 25px;
       color: white;
       letter-spacing: 3px;
       text-decoration: none;
       text-transform: capitalize;
}
.links a:hover{
       font-size: 25px;
       color: #3d535f;
       letter-spacing: 3px;
       text-decoration: none;
       text-transform: capitalize;
}

.navItems li:hover a{
       color: #7f00ff;
}
.links a{
       font-size: 30px;
       color: white;
       margin: 25px 10px;
}
/* nav items home ends */

/* nav items about start */
.navItems1{
       display: flex;
}
.navItems1 li{
       list-style: none;
       margin: 0 15px;
       
}
.navItems1 li a{
       font-size: 25px;
       color: #579BB1;
       letter-spacing: 3px;
       text-decoration: none;
       text-transform: capitalize;
}
.links a:hover{
       font-size: 25px;
       color: #3d535f;
       letter-spacing: 3px;
       text-decoration: none;
       text-transform: capitalize;
}

.navItems1 li:hover a{
       color: #7f00ff;
}
.links a{
       font-size: 30px;
       color: white;
       margin: 25px 10px;
}
/* nav items about ends */

/* nav items skills start */
.navItems2{
       display: flex;
}
.navItems2 li{
       list-style: none;
       margin: 0 15px;
       
}
.navItems2 li a{
       font-size: 25px;
       color: #F8F4EA;
       letter-spacing: 3px;
       text-decoration: none;
       text-transform: capitalize;
}
.links a:hover{
       font-size: 25px;
       color: #3d535f;
       letter-spacing: 3px;
       text-decoration: none;
       text-transform: capitalize;
}

.navItems2 li:hover a{
       color: #7f00ff;
}
.links a{
       font-size: 30px;
       color: white;
       margin: 25px 10px;
}
/* nav items skills ends */
.wrapper{
       display: flex;
       position: relative;
       width: 100%;
       height: calc(100vh-80px);
       justify-content: center;
       align-items: center;
       padding: 0 10%;
       overflow: hidden;
}

.aboutwrapper{
       display: flex;
       position: relative;
       width: 100%;
       height: calc(100vh-80px);
       justify-content: center;
       align-items: center;
       overflow: hidden;
}

.skillswrapper{
       display: flex;
       position: relative;
       width: 100%;
       height: calc(100vh-80px);
       justify-content: center;
       align-items: center;
       overflow: hidden;
       padding: 10px;
       border: 1px solid #080505;
       background-image: linear-gradient(to right top, #22616b, #2b6b77, #357684, #3e8091, #488b9e, #5193a8, #599cb1, #62a4bb, #6bacc4, #74b3cc, #7dbbd5, #86c3de);
       
}

.projectswrapper{
       display: flex;
       position: relative;
       width: 100%;
       height: calc(100vh-80px);
       justify-content: center;
       align-items: center;
       overflow: hidden;
       padding: 10px;
       border: 1px solid #080505;
       background-image: linear-gradient(to right top, #22616b, #2b6b77, #357684, #3e8091, #488b9e, #5193a8, #599cb1, #62a4bb, #6bacc4, #74b3cc, #7dbbd5, #86c3de);
              
  
}

/* responsive image gallery */
.header {
       text-align: center;
       padding: 32px;
     }
     
     .row {
       display: -ms-flexbox; /* IE10 */
       display: flex;
       -ms-flex-wrap: wrap; /* IE10 */
       flex-wrap: wrap;
       padding: 0 2px;
       justify-items: center;
       align-items: center;
     }
     
     /* Create four equal columns that sits next to each other */
     .column {
       -ms-flex: 50%; /* IE10 */
       flex: 50%;
       max-width: 50%;
       padding: 0 4px;
     }
     
     .column img {
       margin-top: 10px;
       vertical-align: middle;
       width: 50%;
     }

    img:hover{
       opacity: 0.5;
    }
     /* Responsive layout - makes a two column-layout instead of four columns */
     @media screen and (max-width: 800px) {
       .column {
         -ms-flex: 50%;
         flex: 50%;
         max-width: 50%;
       }
     }
     
     /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
     @media screen and (max-width: 600px) {
       .column {
         -ms-flex: 100%;
         flex: 100%;
         max-width: 100%;
       }
     }
/* ends */


/* section projects */
.projects{
       display: grid;
       place-items: center;
}
/* projects */
.skillslanguage{
       font-size: 25px;
       font-size: clamp(1.125rem, 0.8125rem + 1vw, 1.375rem);
       letter-spacing: 3px;
       text-decoration: none;
       text-transform: capitalize;
}
/* .skillswrapper{
       display: flex;
       position: relative;
       width: 420px;
       padding: 50px 0;
       justify-content: center;
       align-items: center;
       overflow: hidden;
       background-color: white;
       border-radius: 8px;
       flex-direction: column;
       row-gap: 30px;
       
} */
.wrapper::before{
       
       position: absolute;  
       content: '';
       height: 600px;
       width: 600px;
       border-radius: 50%;
       left: -12%;
       top:50%;
       z-index: 5;
       background: linear-gradient(to right top, #584fe3, #655ae7, #7164eb, #7c6fee, #877af2, #9183f4, #9a8cf7, #a395f9, #ad9ffa, #b7a9fc, #c1b4fd, #cabefe);
       animation: object1 6s linear infinite;
}
.wrapper::after{
       position: absolute;
       content: '';
       height: 100px;
       width: 100px;
       border-radius: 100%;
       left: 35%;
       top:12%;
       background: linear-gradient(45deg, #584fe3, #655ae7, #7164eb, #7c6fee, #877af2, #9183f4, #9a8cf7, #a395f9, #ad9ffa, #b7a9fc, #c1b4fd, #cabefe);
       animation: object2 6s linear infinite;
}
@keyframes object1{
       50%{
              left: -13%;
              top: 41%;
       }
}
@keyframes object2{
       50%{
              left: 35%;
              top: 10%;
       }
}

.cols{
       width: 50%;

}
.cols0{
       width: 60%;
       z-index: 5;
}
.cols1{
       display: flex;
}
.topline{
       display: block;
       position: relative;
       font-size: 35px;
       letter-spacing: 5px;
       color: #3d535f;

}
/* .topline1{
       display: flex;
       justify-content: center;
       align-items: center;
       /* position: relative; */
       font-size: 35px;
       letter-spacing: 5px;
       color: #3d535f;
      

} */
.topline::after{
       position: absolute;
       content: '';
       height: 4px;
       width: 45px;
       bottom: 10px;
       background-color: #7f00ff;
}
h1{
       display: block;
       font-size: 5em;
       font-weight: 900;
       color: #3d535f;
}
h2{
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 2em;
       font-weight: 900;
       color: #3d535f;
       
}
h3{    
       display: flex;
       justify-items: center;
       align-items: center;
       flex-direction: column;
       font-size: clamp(1.125rem, 0.8125rem + 1vw, 1.375rem);
}

ul li{
       display: grid;
       /* justify-items: center;
       align-items: center; */
       place-items: center;
       list-style: none;
       font-size: clamp(1.125rem, 0.8125rem + 1vw, 1.375rem);
       color: white;
}

/* .circular-progress{
       position: relative;
       height: 250px;
       width: 250px;
       border-radius: 50%;
     
       background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
       display: flex;
       align-items: center;
       justify-content: center;
       
}
.circular-progress::before{
       content: "";
       position: absolute;
       height: 210px;
       width: 210px;
       border-radius: 50%;
       background-color: #fff;
       
}
.progress-value{
       position: relative;
       font-size: 40px;
       font-weight: 600;
       color: #7d2ae8;

}
.text{
       font-size: 30px;
       font-weight: 500;
       color: #606060;
}
 */

.multiText{
       color: #7f00ff;
       text-transform: capitalize;
}
.multiText1{
       color: #7f00ff;
       text-transform: capitalize;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 10px;
}
#pid{
       display: block;
       width: 90%;
       font-size: 1.2em;
       color: #3d535f;
       border-color: blue;
       font-weight: bold;
}

#mission{
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: clamp(0.8125rem, 0.5rem + 1vw, 1.0625rem);
       color: #3d535f;
       margin: 50px;
       letter-spacing: 2px;
       
}
.btns{
       width: 100%;
       position: relative
       left: 150px;
}
.btn{
       outline: none;
       border: none;
       cursor: pointer;
       font-size: 25px;
       font-weight: 400;
       color: #fff;
       background-color: #3d535f;
       padding: 8px 14px;
       margin: 40px 5px;
       letter-spacing: 2px;
       text-transform: capitalize;
       box-shadow: 0 15px 10px rgba(0,0,0,0.4);
       isolation: isolate;
       z-index: 1000;
}
.btn:hover{
       background-color: #7f00ff;
}
button{
       outline: none;
       border: none;
       cursor: pointer;
       font-size: 25px;
       font-weight: 400;
       color: #fff;
       background-color: #3d535f;
       padding: 0 0;
       margin: 0 0;
       letter-spacing: 2px;
       text-transform: capitalize;
       box-shadow: 0 15px 10px rgba(0,0,0,0.4);
       isolation: isolate;
       z-index: 1000;
}
.imgbox{
       position: relative;
       width: 100%;
       height: 100%;
       

}

.imgbox1{
       position: relative;
       width: 100%;
       height: 100%;
       

}

.imgbox::before{
       position: absolute;
       content: '';
       height: 800px;
       width: 700px;
       border-radius: 30%;
       left: 10%;
       top: 5%;'
       z-index: 1;
       background: linear-gradient(to left, #584fe3, #655ae7, #7164eb, #7c6fee, #877af2, #9183f4, #9a8cf7, #a395f9, #ad9ffa, #b7a9fc, #c1b4fd, #cabefe);
       animation: animateUser 4s linear infinite;
}
.imgbox img{
       position: relative;
       height: 100%;
       width: calc(130%-80px);
       top: 30px;
       bottom: 0px;
       left: 100px;
       transform: rotateY(360deg);
       animation: animateUser 4s linear infinite;
}
.imgbox1 img{
       position: relative;
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       opacity: 1;
       border-radius: 30%;
       padding: 30px;
       
       /* top: 30px;
       bottom: 0px; */
       /* transform: rotateY(360deg); */
       /* animation: animateUser 4s linear infinite; */
}
@keyframes animateUser{
       50%{
              
              left: 100px;
              top: 50px;
       }
}

@media only screen and (max-width: 600px) {
       .imgbox img{
         displa;
       }
     }
